:root{
    --page-background: #3B4664;
    --page-color: #fff;
    --move-direct-Bg: #252D42;
    --move-direct-before:  #B64541;
    --input-background: #191F32;
    --input-color: #fff; 
    --buttons-background: #252D42;         
}
body{
    background: var(--page-background);
    display: flex;
    font-family: Arial, Helvetica, sans-serif;
    justify-content: center;
    color: var(--page-color);
    padding: 4rem;
    align-items: center;
}
.calc{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.move-direct{
    width: 35px;
    padding: 12px;
    background: var(--move-direct-Bg);
    border-radius: 20px;
}
span{
    letter-spacing: 20px;
    font-weight: 600px;
}
.move-direct::before{
    content: "";
    width: 15px;
    background: #B64541;
    position: absolute;
    height: 15px;
    top: 16%;
    left: 67%;
    cursor: pointer;
    border-radius: 50%;
}
.display{
    width: 570px;
}
.display input{
    padding: 12px;
    width: 550px;
    height: 100px;
    border: none;
    outline: none;
    border-radius: 12px;
    background: #191F32;
    color: #fff;
    margin-bottom: 20px;
}

.display input{
    font-size: 40px;
    text-align: right;
}
.buttons{
    background: #252D42;
    height: 350px;
    padding: 20px;
    width: 540px;
    border-radius: 12px;
}
.buttons button{
    height: 60px;
    width: 73px;
    margin: 6px;
    color: #797982;
    border-radius: 10px;
    border: none;
    font-weight: 800;
    font-size: 20px;
    outline: none;
    cursor: pointer;
    box-shadow: inset 0 4px 4px 0 rgba(0,0,0,0.5);
}
.buttons button:nth-of-type(1){
    background: #647298;
    color: #fff;
}
.buttons button:nth-of-type(6){
    background: #647298;
    color: #fff;
}
.buttons button:nth-of-type(25){
    background: #647298;
    color: #fff;
}

.buttons button:nth-of-type(29){
    background: #B64541;
    color: #fff;
}
.display input.active{
    background: #1D0836;
    color: #E2CD4E;
}
.move-direct.active{
    background: #1D0836
}

.move-direct.active::before{
    position: absolute;
    left: 69%;
    transition: 0.5s all ease-in;
    background: #04DDD1;
}
.buttons.active{
    background: #1C0935;
}
button.active:nth-of-type(1){
    background: #54077D;
}
button.active:nth-of-type(6){
    background: #54077D;
}
button.active:nth-of-type(25){
    background: #54077D;
}
#background.active{
    background: #170629;
}
button.active:nth-of-type(29){
    background: #04DDD1;
}
h3.active{
    color: #E2CD4E;
}
span.active{
    color: #E2CD4E;
}
.operator.active{
    background: #331A4E;
    color: #E2CD4E;
    box-shadow: inset 0 4px 4px 0 #1C0935;
}
.number.active{
    background: #331A4E;
    color: #E2CD4E;
    box-shadow: inset 0 4px 4px 0 #1C0935;
}

@media(max-width: 1024px){
    .move-direct::before{
        position: absolute;
        left: 75%;
        top: 18.6%;
    }
    .move-direct.active::before{
        position: absolute;
        left: 79%;
    }
}
@media(max-width: 600px){
    .move-direct::before{
        position: absolute;
        left: 88%;
        top: 18.6%;
    }
    .move-direct.active::before{
        position: absolute;
        left: 93%;   
    }
}

@media(max-width: 460px){
    .display{
        width: 400px;
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .display input{
        width: 400px;
    }
    .buttons{
        width: 380px;
        height: 350px;
    }
    .buttons button{
        width: 47.6px;
        height: 55px;
    }
    .move-direct::before{
        position: absolute;
        left: 81%;
    }
    .move-direct.active::before{
        position: absolute;
        left: 88%;
    }
}
@media(max-width: 430px){
    .display{
        width: 320px;
    }
    .display input{
        width: 300px;
    }
    .buttons{
        width: 280px;
        height: 570px;
    }
    .buttons button{
        width: 54px;
    }
    .move-direct::before{
        position: absolute;
        top: 12.5%;
        left: 78.5%;
    }
    .move-direct.active::before{
        position: absolute;
        left: 87%;
    }

}
@media(max-width: 370px){
    .display{
        width: 350px;
    }
    .display input{
        width: 320px;
    }
    .buttons{
        width: 300px;
        height: 550px;
    }
    .buttons button{
        width: 59px;
    }
    .move-direct::before{
        position: absolute;
        left: 82%;
    }
    .move-direct.active::before{
        position: absolute;
        left: 91%;
    }
}